<script src="https://kit.fontawesome.com/e1bd8466eb.js"></script>
{% for post in posts %}
<div class="card post-body">
  <div class="card-body">
    <a href="{{url_for('single_post', id=post.id)}}" class="clickable">
      <h2 class="card-title-top">{{ post.title }}</h2>
    </a>
    <p style="font-style:italic;font-size:.8rem">
      {{ post.created.strftime("%m/%d/%Y") }}
    </p>
    <div style="font-size:1rem;display:flex;margin-right:1rem;">
      {% if current_user.is_authenticated and current_user.id==post.author_id %}
      <a
        href="{{url_for('editpost', id=post.id)}}"
        class="btn btn-outline-warning btn-small btn-tiny"
        >Edit</a
      >
      <a
        href="{{url_for('deletepost', id=post.id)}}"
        class="btn btn-outline-warning btn-small btn-tiny"
        >Delete</a
      >
      {% endif %}
    </div>

    <div style="display:flex;justify-content: flex-end">
      <a
        href="{{url_for('profile', id=post.users.id)}}"
        style="font-weight:900;font-size:1rem;color:#674f0a"
        class="card-title"
        >{{ post.users.username.capitalize() }}</a
      >
    </div>
    <p class="card-text">
      {{ post.body[:250] }}
      {{ '. . .' if post.body|length > 250 else ''}}
    </p>
    <div
      class="card-buttons"
      style="display:flex;justify-content:space-between"
    >
      <div>
        {% if current_user.is_authenticated %}

        <div
          style="font-size:1.5rem;display:flex;justify-content:center;margin-right:1rem;"
        >
          <div>
            {% if post.is_liked(current_user.id) %}
            <a href="{{url_for('like_post', id=post.id)}}">
              <i
                class="fas fa-heart"
                style="color:#e0a800;margin-right:1rem"
              ></i>
            </a>
            {% else %}
            <a href="{{url_for('like_post', id=post.id)}}">
              <i class="far fa-heart" style="color:gray;margin-right:1rem"></i>
            </a>
            {% endif %}
          </div>
        </div>
      </div>
      {% endif %} {% if current_user.id!=post.author_id %}
      <div>
        {% if post.is_flag(current_user.id) %}
        <a
          href="{{url_for('flag_post', id=post.id)}}"
          style="display:flex;align-items:center"
        >
          <i class="fab fa-font-awesome" style="color:red;font-size:1.5rem">
          </i>
        </a>
        {% else %}
        <a href="{{url_for('flag_post', id=post.id)}}" class="inappropriate">
          <i class="fab fa-font-awesome" style="color:black;font-size:1.5rem">
          </i>
        </a>
        {% endif %}
      </div>
      {% endif %}
    </div>
  </div>
</div>

{% endfor %}
