{% extends "layout.html" %} {% block content %}
<div class="profile-header">
  <h1>{{ posts[0].users.username.capitalize() }}</h1>
  <div>
    {% if current_user.is_authenticated %} {% if not
    current_user.is_followed(posts[0].users.id) %}
    <a
      href="{{url_for('follow', id=posts[0].users.id)}}"
      class="btn btn-custom btn-small"
      >Follow</a
    >
    {% else %}

    <a
      href="{{url_for('follow', id=posts[0].users.id)}}"
      class="btn btn-custom2 btn-small"
      >Following</a
    >
    {% endif %} {% endif %}
  </div>
</div>
<div class="container">
  {% include 'includes/something.html' %}
</div>
{% endblock %}
