{% extends "layout.html" %} {% block content %}
<div class="register-container">
  <body class="text-center">
    <form class="form-signin custom-register" method="POST">
      {{ form.hidden_tag() }}
      <div class="form-top">
        {{ form.username.label(class_="white") }}
        {{form.username(class="form-control")}}
      </div>
      <div class="form-top">
        {{ form.email.label(class_="white") }}
        {{form.email(class="form-control")}}
      </div>
      <div class="form-top">
        {{ form.password.label(class_="white") }}
        {{form.password(class="form-control")}}
      </div>
      <div class="form-top">
        {{ form.confirm.label(class_="white") }}
        {{form.confirm(class="form-control")}}
      </div>
      <div class="form-top">
        {{ form.submit(class="btn btn-lg btn-secondary btn-block register-btn") }}
      </div>
    </form>
  </body>
</div>
{% endblock %}
